<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>188969983952-97uc5i7apa5323g5g3hf3pdd1t54kf9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188969983952-97uc5i7apa5323g5g3hf3pdd1t54kf9f</string>
	<key>API_KEY</key>
	<string>AIzaSyD1bf_Pb0HznHyayrU0UOIB5x7tXh-mFNU</string>
	<key>GCM_SENDER_ID</key>
	<string>188969983952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullsail.A-Fischer-iOS-UsersAndData</string>
	<key>PROJECT_ID</key>
	<string>crossplatformapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>crossplatformapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:188969983952:ios:f59e69c6d79fdfa9</string>
	<key>DATABASE_URL</key>
	<string>https://crossplatformapplication.firebaseio.com</string>
</dict>
</plist>